body{
    background-color: rgb(54, 54, 54);

}

h2, h3{
    text-align: center;
}
/*********************************
 SECTION bouton
***********************************/
.button-new{
    border-radius: 15px;
    padding: 15px;
    background-color: blue;
    color: white;
}
.button-close{
    border-radius: 15px;
    padding: 15px;
    background-color: red;
    color: white;
}
.button-success{
    border-radius: 15px;
    padding: 15px;
    background-color: green;
    color: white;
}


.display-ticket{
    border: 2px solid black;
    justify-content: left;
    display: flex;
    flex-direction: nowrap;
}
#ticket-container{
    display: flex;
    flex-direction: column;
    /* border: 5px solid rgb(74, 35, 145); */

}
.ticket{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
/*********************************
 SECTION NOUVEAU TICKET
***********************************/
.new-ticket{
    display: none;
    align-items: center;
    flex-direction: column ;
    width: 50%;
    margin: auto;
}

.new-ticket-click{
    display: flex;
    align-items: center;
    flex-direction: column ;
    width: 50%;
    margin: auto;
}
/*********************************
 SECTION FORMULAIRE
***********************************/

.modal-ticket-body{
 visibility: visible;
}
/*********************************
 SECTION AFFICHAGE DATE - HEURE
***********************************/
#date{
    display: flex;
    justify-content: start;
}

/*********************************
 SECTIONS INFOS
***********************************/
#detail-ticket{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(54, 54, 54);
    color: white;
}
#container-ticket{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:yellow;
}
/*********************************
 SECTIONS TABLE
***********************************/
#table{
    width: 20%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
/*********************************
 SECTIONS CARD
***********************************/
#card-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card-body{
    display: flex;
    justify-content: center;

}
/*********************************
 SECTIONS HIDDE/SHOW
***********************************/
.hide{
    visibility: hidden;
}
.show{
    visibility:visible;
}