#card-ticket{
    cursor: pointer;
}

.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:yellow;
}
/*********************************
 SECTIONS TABLE
***********************************/
#table{
    width: 20%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
/*********************************
 SECTIONS CARD
***********************************/
#card-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card-body{
    display: flex;
    justify-content: center;

}
/*********************************
 SECTIONS HIDDE/SHOW
***********************************/
.hide{
    visibility: hidden;
}
.show{
    visibility:visible;
}